footer {
    width: 100%;
    user-select: none;
    margin-top: auto;
}

.inner {
    margin: auto;
    padding: 1rem;
}

footer .links {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

footer .group {
    margin: 0;
}

footer .group:last-child {
    grid-column-start: 4;
}

footer .title {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.5rem;
}

footer .item {
    font-size: 0.8rem;
    line-height: 1.25;
    color: var(--footer-link-grey);
    display: block;
}

footer .footer-extra-description {
    color: var(--footer-link-grey);
    font-size: 14px;
    display: block;
    margin-top: 12px;
    margin-bottom: -12px;
}

footer .color-scheme-toggle {
    display: inline-block;
    border-radius: 16px;
    border: 1px solid var(--blue);
    padding-bottom: 1px;
    margin-top: 16px;
}

footer .color-scheme-toggle label {
    margin: 1px;
}

footer .color-scheme-toggle label input {
    position: absolute;
    appearance: none;
    width: 0px;
    height: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0 0 99.9% 99.9%);
    clip-path: inset(0 0 99.9% 99.9%);
}

footer .color-scheme-toggle label span {
    font-size: 14px;
    line-height: 14px;
    padding: 2px 4px;
    border-radius: 12px;
    color: var(--link);
    width: 40px;
    display: inline-block;
    text-align: center;
}

footer .color-scheme-toggle label input:checked+span {
    color: var(--white-txt-on-blue-bg);
    background-color: var(--blue);
}

@media screen and (max-width: 600px) {
    footer .links {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;
    }
    footer .group:last-child {
        grid-column-start: 2;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    footer .links {
        grid-template-columns: 1fr 1fr;
    }
    footer .group:last-child {
        grid-column-start: 2;
        padding: 0;
    }
}