.hero {
    /* height: calc(100vh - 1rem);
    display: flex;
    align-items: end; */
}

.hero .group {
    width: 100%;
    height: 100svh;
    min-height: 100svh;
    display: grid;
}

.hero .sub {
    padding-top: 4rem;
}

.hero .large {
    text-align: right;
}

.hero .bigtitle {
    width: 40%;
    align-self: end;
    padding-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    .hero .group {
        width: 100%;
    }
    .hero .bwc{
        top: 2px;
        position: relative;
        font-size: 1.55rem;
    }
    .hero .large {
        margin: 0;
    }
    .hero .bigtitle {
        width: 100%;
        align-items: flex-end;
    }
    .hero .moderate {
        font-size: 60px;
        margin: -13px 35px;
        position: absolute;
    }
    .hero .rose {
        width: 200px;
        transform: rotate(312deg);
        position: absolute;
        margin: -178px 147px;
    }
    .hero .small {
        font-size: 20px;
        font-weight: 200;
        position: absolute;
        margin: -153px 212px;
    }
}

.hero .bigtitle:hover {
    stroke: white;
}