* {
    transition: color 0.2s, background-color 0.2s;
}

body {
    margin: 0;
    padding: 0;
    color: var(--black-2);
    background-color: var(--body-bg);
    font-family: "TASAOrbiterVF", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* @font-face {
    font-family: 'TASAOrbiterVF';
    src: url('../fonts/TASAOrbiterVF.woff2') format('woff2'),
} */

/* 圆形跟随鼠标交互 */
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 8px;
    background-color: #fff;
    mix-blend-mode: exclusion;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
}

#cursor.active {
    opacity: 0.6;
    transform: scale(1.5);
}
/* 圆形跟随鼠标交互 */

.cont_ttl01 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--black-4);
} 

a:link {
    color: var(--link);
    text-decoration: none;
    transition: 0.35s;
}

a:hover {
    text-decoration: underline;
}

.worklist:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    color: var(--link);
    text-decoration: none;
}

.container {
    max-width: 100%;
    padding: 0 1rem;
}

.theme-command {
    display: none;
}

@media screen and (max-width: 800px) {
    #cursor {
        display: none;
    }
}