.post-list {
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: end;
  grid-row-gap: 30vh;
}

@media screen and (max-width: 600px) {
  .post-list {
    grid-template-columns: 1fr;
    grid-row-gap: 15vh;
  }
}

.post-list-item {
  overflow: hidden;
  width: 100%;
  /* border-radius: 16px;
  background-color: var(--card-bg);
  margin-bottom: 21px; */
  transition: all 200ms ease;
}

/* 卡片盒子边距 */

.post-list-item:nth-child(2n-1) {
  /* margin-right: 8px; */ 
}

.post-list-item:nth-child(2n) {
  /* margin-left: 8px; */
}

/* .post-list-item:nth-child(3) {
  grid-column-start: 4;
}

.post-list-item:nth-child(9) {
  grid-column-start: 4;
} */

@media screen and (max-width: 600px) {
  .post-list-item:nth-child(n) {
    margin-left: 0;
    margin-right: 0;
  }
}

.post-list-item .cover-img {
  overflow: hidden;
}

.post-list-item .cover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.25, 1),
    filter 400ms cubic-bezier(0.4, 0, 0.25, 1);
}

.post-list-item:hover .cover-img img,
.post-list-item > a:focus .cover-img img {
  transform: scale(1.08); /* 鼠标悬停封面图片放大 */
  /* filter: brightness(0.85); 降低亮度 */
}

.post-list-item .title {
  color: var(--card-title);
  overflow: hidden;
}

.post-list-item .content {
    padding-top: 0.5rem;
    display: flex;
}

.post-list-item a,
.post-list-item a:hover,
.post-list-item a:focus,
.post-list-item a:active,
.post-list-item a:link,
.post-list-item a:visited {
    font-size: 0.9rem;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: none;
}

.post-list-item .categories {
  color: var(--link);
  margin-bottom: 6px;
  font-weight: 600;
  display: none;
}

.post-list-item .categories span {
  font-size: 11px;
  margin-right: 6px;
  text-decoration: none;
}

.post-list-item .excerpt {
  font-size: 17px;
  color: var(--black-1);
}

@media screen and (max-width: 800px) {
  .post-list-item .content {
    font-size: 1rem;
  }
}

.post-list-item .time {
  color: var(--card-time);
  display: none;
}

.post-list-item .read-more {
  text-align: right;
}

.post-list-item .read-more button {
  font-size: 12px;
  outline: none;
  border: none;
  background-color: var(--blue);
  color: var(--white-txt-on-blue-bg);
  padding: 6px 12px;
  border-radius: 32px;
  cursor: pointer;
}

/* in archive page, use a more compact list view */

.post-list.archives {
  display: block;
  margin: auto;
}

.post-list.archives .post-list-item {
  border-radius: 0;
  background-color: initial;
  padding: 21px 0;
  margin: 0;
  border-bottom: 1px solid var(--border-color);
  transition: all 200ms ease;
}

.post-list.archives .post-list-item:nth-child(n) {
  margin-left: 0;
  margin-right: 0;
}

.post-list.archives .post-list-item:last-child {
  border-bottom: none;
}

.post-list.archives .post-list-item a {
  display: none;
}

.post-list.archives .post-list-item .cover-img {
  height: initial;
  min-width: 180px;
  width: 20vw;
  border-radius: 16px;
  flex-shrink: 0;
}
